body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
  background:#fff
}

* {
  box-sizing: border-box;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table th {
  background-color: #92c9e6;
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #d1e8f5;
}

/*responsive*/

@media (max-width: 500px) {
  .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table td {
    padding-left: 50%;
    text-align: left;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
/* Basic styling for the form */
form {
  display: flex;
  flex-direction: row;
  justify-content:center;
  max-width: 400px; /* Adjust the maximum width as needed */
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
}

/* Style for labels */
label {
  margin-bottom: 5px;
  margin-left: 1rem;
}

/* Style for date inputs */
input[type="date"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Style for the filter button */
button {
  background: -webkit-gradient(linear, left top, right top, from(#6a64f1), to(#92c9e6));
  background: linear-gradient(to right, #6a64f1, #92c9e6);
  color: black;
  padding: 11px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom:.7rem ;
}

/* Responsive layout adjustments */
@media (max-width: 600px) {
  form {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  button{
    margin-right: .7rem;
    padding-top: 1rem;
    margin-top: .5rem;
  }
}

@media (max-width: 400px) {
  input[type="date"] {
    margin-bottom: 5px;
  }

  button {
    width: 100%;
  }
}
