<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Card-Based Reservation Detail View</title>
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {% if user.is_authenticated %}
    {% include "navbar.html" %}

    <h1 class="text-center mt-3">Customer  Detail </h1>

    <a type="button"  href="{% url 'viewlist' %}" class="btn m-5  btn-primary">Back</a>

    <div class="page-content page-container" id="page-content">
      <div class="padding">
          <div class="row container d-flex justify-content-center">
  <div class="col-xl-6 col-md-12">
                                                  <div class="card user-card-full">
                                                      <div class="row m-l-0 m-r-0">
                                                          <div class="col-sm-4 bg-c-lite-green user-profile">
                                                              <div class="card-block text-center text-white">
                                                                  <div class="m-b-25">
                                                                      <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image">
                                                                  </div>
                                                                  <h6 class="f-w-600"><b>Firstname:</b>{{ reservation.Firstname }}</h6>
                                                                  <p class="f-w-600"><b>Lastname:</b> {{ reservation.Lastname }}</p>
                                                                  <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                                              </div>
                                                          </div>
                                                          <div class="col-sm-8">
                                                              <div class="card-block">
                                                                  <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                                                  <div class="row">
                                                                      <div class="col-sm-6">
                                                                          <p class="m-b-10 f-w-600">Email</p>
                                                                          <h6 class="text-muted f-w-400">{{ reservation.Email }}</h6>
                                                                      </div>
                                                                      <div class="col-sm-6">
                                                                        <p class="m-b-10 f-w-600">Zip_code</p>
                                                                        <h6 class="text-muted f-w-400"> {{ reservation.Zip_code }}</h6>
                                                                    </div>
                                                                     
                                                                      <div class="col-sm-6">
                                                                          <p class="m-b-10 f-w-600">Phone</p>
                                                                          <h6 class="text-muted f-w-400">{{ reservation.Phone }}</h6>
                                                                      </div>
                                                                      <div class="col-sm-6">
                                                                        <p class="m-b-10 f-w-600">Address</p>
                                                                        <h6 class="text-muted f-w-400">{{ reservation.Address }}</h6>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                      <p class="m-b-10 f-w-600">Address2</p>
                                                                      <h6 class="text-muted f-w-400">{{ reservation.Address2 }}</h6>
                                                                  </div>
                                                                  <div class="col-sm-6">
                                                                    <p class="m-b-10 f-w-600">State</p>
                                                                    <h6 class="text-muted f-w-400">{{ reservation.State }}</h6>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                  <p class="m-b-10 f-w-600">Date_checkIn</p>
                                                                  <h6 class="text-muted f-w-400">{{ reservation.Date_checkIn }}</h6>
                                                              </div>
                                                              <div class="col-sm-6">
                                                                <p class="m-b-10 f-w-600">Document</p>
                                                                <a href={{ reservation.Image.url }}>View</a>
                                                            </div>
                                                              
                                                              <div class="col-sm-6">
                                                                <p class="m-b-10 f-w-600">Time_checkIn</p>
                                                                <h6 class="text-muted f-w-400">{{ reservation.Time_checkIn }}</h6>
                                                            </div>
                                                            <div class="col-sm-6">
                                                              <p class="m-b-10 f-w-600">Date_checkOut</p>
                                                              <h6 class="text-muted f-w-400">{{ reservation.Date_checkOut }}</h6>
                                                          </div>
                                                          <div class="col-sm-6">
                                                            <p class="m-b-10 f-w-600">Time_checkOut</p>
                                                            <h6 class="text-muted f-w-400">{{ reservation.Time_checkOut }}</h6>
                                                        </div>
                                                          <div class="btn-updelcontainer"> 
                                                            <a type="button"  href="{% url 'update_reservation' reservation.id %}" class="btn-Update"><i class="fa-regular fa-pen-to-square"></i> Update</a>
                                                            <a type="button"  href="{% url 'delete_reservation' reservation.id %}" class="btn m-5  btn-delete"><i class="fa-solid fa-trash"></i> delete</a></div>
                                                                  </div>
                                                                  
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                               </div>
                                                  </div>
                                              </div>

    
    {% else %}
    <p>Please log in to access this page.</p>
    {% endif %}
</body>
</html>
